<!DOCTYPE html>
<html lang="en" ng-app="imageSearchApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search Engine</title>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="ImageSearchController as vm">
    <h1>Image Search Engine</h1>
    <form id="search-form" ng-submit="vm.searchImages()">
        <input type="text" id="search-box" placeholder="Search anything" ng-model="vm.keyword">
        <button type="submit">Search</button>
    </form>
    
    <div id="search-result">
        <div ng-repeat="result in vm.results">
            <a href="{{result.links.html}}" target="_blank">
                <img src="{{result.urls.small}}" alt="Image">
            </a>
        </div>
    </div>

    <button id="show-more-btn" ng-click="vm.loadMore()" ng-show="vm.showMoreBtn">Show more</button>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
